:root{
    --primary:#63A940;

}

html, body {
    font-family: "Encode Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200; /* Bạn có thể thay đổi giá trị từ 100 đến 900 tùy theo nhu cầu */
    font-style: normal;
    font-variation-settings:
      "wdth" 100; /* Độ rộng ký tự có thể tùy chỉnh nếu cần */
}

.wrapper {
    max-width: 1460px;
    width: 100%;
    margin-inline: auto;
}